

<% if current_user && (current_user.admin? or @topic.user_id == current_user.id) %>
  <p>
    <%= link_to "Edit", edit_forum_topic_path(@forum, @topic) %> |
    <%= link_to "Destroy Topic", forum_topic_path, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", forum_topics_path %>
  </p>
<% end %>

<div class = "box">
  <h3><%= @topic.name %> </h3>
  <p>Created by <%= @topic.user.username %> <%= time_ago_in_words(@topic.created_at) %> ago</p>
  <p> <%= @topic.content %> <p>
</div>

<h3>Responses</h3>
<%= render @topic.posts %>

<h3>Create a Reply</h3>
<%= render 'posts/form' %>