<p><small><%= link_to "Ruby on Rails", forums_path %> -> <%= link_to @forum.name, forum_path(@forum) %></small></p>

<p>
  <% if current_user && (current_user.admin? or @topic.user_id == current_user.id) %>
    <%= link_to "Edit", edit_forum_topic_path(@forum, @topic) %> 
  <% end %>
  <% if current_user && current_user.admin? %>
   | <%= link_to "Destroy Topic", forum_topic_path, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
</p>

<h3><%= @topic.name %></h3>
<div class="row box">
  <div class="col-md-2">
    <%= link_user(@topic.user) %><br>
    <%= gravatar_for @topic.user %><br><br><br><br>
    Posts: <%= @topic.user.posts.count + @topic.user.topics.count %>
  </div>
  <div class="col-md-10">
    <small>Created at <%= time_ago_in_words(@topic.created_at) %> ago</small>
    <p><%= @topic.content %></p>
  </div>
</div>

<% if @topic.posts.count > 0 %>
  <h4>Responses</h4>
  <%= render @topic.posts %>
<% end %>

<% if current_user %>
  <h3>Create a Reply</h3>
  <%= render 'posts/form' %>
<% end %>